
@media(min-width: 800px) {

.box {
    padding-left: 1em;
    margin-left: 1em;
    border: 1px solid brown;
    background-color: blanchedalmond;
    padding-bottom: 3em;
}

    
  .counter {
      font-weight: bold;
      font-size: 5em;
      color: brown;
      padding-left: 3em;
      
  }

  .btns {
      color: brown;
  }

  
}


  