.container {
    padding-left: 1em;
    margin-left: 1em;
    border: 1px solid blue; 
    background-color: antiquewhite;
    text-align-last: center; 

} 

.counter {
    font-weight: bold;
    font-size: 1em;
    color: blue;
     
}



@media(min-width: 800px) {

.container {
    padding-left: 1em;
    margin-left: 1em;
    border: 1px solid blue; 
    background-color: antiquewhite;
    text-align-last: center; 
}

    
  .counter {
      font-weight: bold;
      font-size: 1em;
      color: blue;
       
  }

}


  